.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #f2f2f2;
}
